Let's start making some improvement on readibility

In [1]:
import os
import pandas as pd

# Function to process each Excel file
def process_excel(file_path, output_directory):
    try:
        # Read the Excel file
        df = pd.read_excel(file_path)
        
        # Extract the filename without extension
        filename = os.path.splitext(os.path.basename(file_path))[0]
        
        # Rename the second column
        df.rename(columns={df.columns[1]: f'Last_price_{filename}'}, inplace=True)
        
        # Save the modified data back to Excel in the output directory
        new_file_path = os.path.join(output_directory, f'renamed_{filename}.xlsx')
        df.to_excel(new_file_path, index=False)
        
        print(f'{file_path} processed. Renamed column and saved to {new_file_path}')
    except Exception as e:
        print(f'Error processing {file_path}: {e}')

# Directory containing Excel files
directory = '/Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks'

# Print the directory where the script is looking for Excel files
print(f'Searching for Excel files in directory: {directory}')

# Output directory for saving renamed files
output_directory = directory

# Print the directory where the script is saving the renamed files
print(f'Renamed files will be saved to directory: {output_directory}')

# Iterate through each file in the directory
for filename in os.listdir(directory):
    if filename.endswith('.xlsx'):
        file_path = os.path.join(directory, filename)
        process_excel(file_path, output_directory)

Searching for Excel files in directory: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks
Renamed files will be saved to directory: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks
/Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/Leonardo 2018-2023.xlsx processed. Renamed column and saved to /Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/renamed_Leonardo 2018-2023.xlsx
/Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/Unicredit 2018-2023.xlsx processed. Renamed column and saved to /Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/renamed_Unicredit 2018-2023.xlsx
/Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/Interpump 2018-2023.xlsx processed. Renamed column and saved to /Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/renamed_Interpump 2018-2023.xlsx
/Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/Banca Monte dei Paschi di Siena 2018-2023.xlsx processed. Renamed column and saved to /Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/renamed_Banca Monte dei Paschi di Siena 2018-2023.xlsx
/Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/Mediobanca 2018-2023.xlsx processed. Renamed column and saved to /Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/renamed_Mediobanca 2018-2023.xlsx
/Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/Moncler 2018-2023.xlsx processed. Renamed column and saved to /Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/renamed_Moncler 2018-2023.xlsx
/Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/Terna 2018-2023.xlsx processed. Renamed column and saved to /Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/renamed_Terna 2018-2023.xlsx
/Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/Telecom 2018-2023.xlsx processed. Renamed column and saved to /Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/renamed_Telecom 2018-2023.xlsx
/Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/Diasorin 2018-2023.xlsx processed. Renamed column and saved to /Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/renamed_Diasorin 2018-2023.xlsx
/Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/Pirelli 2018-2023.xlsx processed. Renamed column and saved to /Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/renamed_Pirelli 2018-2023.xlsx
/Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/Banca pop Sondrio 2018-2023.xlsx processed. Renamed column and saved to /Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/renamed_Banca pop Sondrio 2018-2023.xlsx
/Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/Campari 2018-2023.xlsx processed. Renamed column and saved to /Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/renamed_Campari 2018-2023.xlsx
/Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/Tenaris 2018-2023.xlsx processed. Renamed column and saved to /Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/renamed_Tenaris 2018-2023.xlsx
/Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/Recordati 2018-2023.xlsx processed. Renamed column and saved to /Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/renamed_Recordati 2018-2023.xlsx
/Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/Iveco 2018-2023.xlsx processed. Renamed column and saved to /Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/renamed_Iveco 2018-2023.xlsx
/Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/Generali Ass 2018-2023.xlsx processed. Renamed column and saved to /Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/renamed_Generali Ass 2018-2023.xlsx
/Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/Nexi 2018-2023.xlsx processed. Renamed column and saved to /Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/renamed_Nexi 2018-2023.xlsx
/Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/Banca Mediolanum 2018-2023.xlsx processed. Renamed column and saved to /Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/renamed_Banca Mediolanum 2018-2023.xlsx
/Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/Ferrari 2018-2023.xlsx processed. Renamed column and saved to /Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/renamed_Ferrari 2018-2023.xlsx
/Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/Stellantis 2018-2023.xlsx processed. Renamed column and saved to /Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/renamed_Stellantis 2018-2023.xlsx
/Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/Enel 2018-2023.xlsx processed. Renamed column and saved to /Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/renamed_Enel 2018-2023.xlsx
/Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/Saipem 2018-2023.xlsx processed. Renamed column and saved to /Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/renamed_Saipem 2018-2023.xlsx
/Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/Stmicroeletronics 2018-2023.xlsx processed. Renamed column and saved to /Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/renamed_Stmicroeletronics 2018-2023.xlsx
/Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/Azimut 2018-2023.xlsx processed. Renamed column and saved to /Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/renamed_Azimut 2018-2023.xlsx
/Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/Banco Bpm 2018-2023.xlsx processed. Renamed column and saved to /Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/renamed_Banco Bpm 2018-2023.xlsx
/Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/Eni 2018-2023.xlsx processed. Renamed column and saved to /Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/renamed_Eni 2018-2023.xlsx
/Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/Poste Italiane 2018-2023.xlsx processed. Renamed column and saved to /Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/renamed_Poste Italiane 2018-2023.xlsx
/Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/Prysmian 2018-2023.xlsx processed. Renamed column and saved to /Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/renamed_Prysmian 2018-2023.xlsx
/Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/Unipol 2018-2023.xlsx processed. Renamed column and saved to /Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/renamed_Unipol 2018-2023.xlsx
/Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/Inwit 2018-2023.xlsx processed. Renamed column and saved to /Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/renamed_Inwit 2018-2023.xlsx
/Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/Amplifon 2018-2023.xlsx processed. Renamed column and saved to /Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/renamed_Amplifon 2018-2023.xlsx
/Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/Erg 2018-2023.xlsx processed. Renamed column and saved to /Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/renamed_Erg 2018-2023.xlsx
/Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/Fineco 2018-2023.xlsx processed. Renamed column and saved to /Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/renamed_Fineco 2018-2023.xlsx
/Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/BPER banca 2018-2023.xlsx processed. Renamed column and saved to /Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/renamed_BPER banca 2018-2023.xlsx
/Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/Brunello cucinelli 2018-2023.xlsx processed. Renamed column and saved to /Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/renamed_Brunello cucinelli 2018-2023.xlsx
/Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/A2A 2018-2023.xlsx processed. Renamed column and saved to /Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/renamed_A2A 2018-2023.xlsx
/Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/Italgas 2018-2023.xlsx processed. Renamed column and saved to /Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/renamed_Italgas 2018-2023.xlsx
/Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/Snam 2018-2023.xlsx processed. Renamed column and saved to /Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/renamed_Snam 2018-2023.xlsx
/Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/Intesa San Paolo 2018-2023.xlsx processed. Renamed column and saved to /Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/renamed_Intesa San Paolo 2018-2023.xlsx
/Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/Hera 2018-2023.xlsx processed. Renamed column and saved to /Users/gloriabagnato/Desktop/TESI/Data-Finance/Single-stocks/renamed_Hera 2018-2023.xlsx

In [2]:

# Directory containing the Excel files
directory = '/Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks'

# List to store filenames with missing 'Date' column
files_with_missing_date = []

# Loop through each file in the directory
for filename in os.listdir(directory):
    if filename.endswith(".xlsx"):
        print(f"Checking file: {os.path.join(directory, filename)}")
        
        # Read the first sheet of the Excel file
        df = pd.read_excel(os.path.join(directory, filename))
        
        # Strip whitespaces from column names
        df.columns = df.columns.str.strip()
        
        # Check if 'Date' column is present
        if 'Date' not in df.columns:
            print(f"File {filename} is missing the 'Date' column.")
            files_with_missing_date.append(filename)

# Check if any files are missing the 'Date' column
if files_with_missing_date:
    print("The following files are missing the 'Date' column:")
    for file in files_with_missing_date:
        print(file)
else:
    print("All files have the 'Date' column.")

Checking file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_Recordati 2018-2023.xlsx
Checking file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_Diasorin 2018-2023.xlsx
Checking file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_Mediobanca 2018-2023.xlsx
Checking file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_Poste Italiane 2018-2023.xlsx
Checking file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_Moncler 2018-2023.xlsx
Checking file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_Telecom 2018-2023.xlsx
Checking file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_Nexi 2018-2023.xlsx
Checking file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_Banca Monte dei Paschi di Siena 2018-2023.xlsx
Checking file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_Intesa San Paolo 2018-2023.xlsx
Checking file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_Pirelli 2018-2023.xlsx
Checking file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_Inwit 2018-2023.xlsx
Checking file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_Leonardo 2018-2023.xlsx
Checking file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_Generali Ass 2018-2023.xlsx
Checking file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_Campari 2018-2023.xlsx
Checking file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_Tenaris 2018-2023.xlsx
Checking file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_Unicredit 2018-2023.xlsx
Checking file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_Interpump 2018-2023.xlsx
Checking file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_Stmicroeletronics 2018-2023.xlsx
Checking file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_Ferrari 2018-2023.xlsx
Checking file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_Saipem 2018-2023.xlsx
Checking file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_Iveco 2018-2023.xlsx
Checking file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_Azimut 2018-2023.xlsx
Checking file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_Stellantis 2018-2023.xlsx
Checking file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_Banca Mediolanum 2018-2023.xlsx
Checking file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_Hera 2018-2023.xlsx
Checking file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_Unipol 2018-2023.xlsx
Checking file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_Snam 2018-2023.xlsx
Checking file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_Eni 2018-2023.xlsx
Checking file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_Banca pop Sondrio 2018-2023.xlsx
Checking file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_Banco Bpm 2018-2023.xlsx
Checking file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_BPER banca 2018-2023.xlsx
Checking file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_Enel 2018-2023.xlsx
Checking file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_Fineco 2018-2023.xlsx
Checking file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_Erg 2018-2023.xlsx
Checking file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_Brunello cucinelli 2018-2023.xlsx
Checking file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_Terna 2018-2023.xlsx
Checking file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_Italgas 2018-2023.xlsx
Checking file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_Prysmian 2018-2023.xlsx
Checking file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_A2A 2018-2023.xlsx
Checking file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_Amplifon 2018-2023.xlsx
All files have the 'Date' column.

Ok, let's merge it!

In [3]:

# Directory containing the Excel files
directory = '/Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks'

# Initialize the main DataFrame with the first DataFrame
first_file = os.listdir(directory)[0]
first_df = pd.read_excel(os.path.join(directory, first_file))
merged_df = first_df.copy()

# Loop through each file in the directory
for filename in os.listdir(directory):
    if filename.endswith(".xlsx"):
        print(f"Reading file: {os.path.join(directory, filename)}")
        
        # Read the Excel file into a DataFrame
        df = pd.read_excel(os.path.join(directory, filename))
        
        # Debug: Print column names
        print("Column names:", df.columns)
        
        # Strip whitespaces from column names
        df.columns = df.columns.str.strip()
        
        # Debug: Print column names after stripping whitespaces
        print("Stripped column names:", df.columns)
        
        # Get the names of the columns for dates and data
        dates_column = df.columns[0]
        data_column = df.columns[1]
        print(f"Dates column: {dates_column}, Data column: {data_column}")
        
        # Merge the data into the main DataFrame, using dates as key
        try:
            merged_df = pd.merge(merged_df, df[[dates_column, data_column]], on=dates_column, how='outer')
        except KeyError as e:
            print(f"KeyError occurred: {e}")
            print("DataFrame columns:", merged_df.columns)
            print("Columns of the DataFrame being merged:", df.columns)
            continue
        
        # Rename the data column based on the filename
        merged_df.rename(columns={data_column: filename.split('.')[0]}, inplace=True)

print("Merge complete.")

Reading file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_Recordati 2018-2023.xlsx
Column names: Index(['Date', 'Last_price_Recordati 2018-2023'], dtype='object')
Stripped column names: Index(['Date', 'Last_price_Recordati 2018-2023'], dtype='object')
Dates column: Date, Data column: Last_price_Recordati 2018-2023
Reading file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_Diasorin 2018-2023.xlsx
Column names: Index(['Date', 'Last_price_Diasorin 2018-2023'], dtype='object')
Stripped column names: Index(['Date', 'Last_price_Diasorin 2018-2023'], dtype='object')
Dates column: Date, Data column: Last_price_Diasorin 2018-2023
Reading file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_Mediobanca 2018-2023.xlsx
Column names: Index(['Date', 'Last_price_Mediobanca 2018-2023'], dtype='object')
Stripped column names: Index(['Date', 'Last_price_Mediobanca 2018-2023'], dtype='object')
Dates column: Date, Data column: Last_price_Mediobanca 2018-2023
Reading file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_Poste Italiane 2018-2023.xlsx
Column names: Index(['Date', 'Last_price_Poste Italiane 2018-2023'], dtype='object')
Stripped column names: Index(['Date', 'Last_price_Poste Italiane 2018-2023'], dtype='object')
Dates column: Date, Data column: Last_price_Poste Italiane 2018-2023
Reading file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_Moncler 2018-2023.xlsx
Column names: Index(['Date', 'Last_price_Moncler 2018-2023'], dtype='object')
Stripped column names: Index(['Date', 'Last_price_Moncler 2018-2023'], dtype='object')
Dates column: Date, Data column: Last_price_Moncler 2018-2023
Reading file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_Telecom 2018-2023.xlsx
Column names: Index(['Date', 'Last_price_Telecom 2018-2023'], dtype='object')
Stripped column names: Index(['Date', 'Last_price_Telecom 2018-2023'], dtype='object')
Dates column: Date, Data column: Last_price_Telecom 2018-2023
Reading file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_Nexi 2018-2023.xlsx
Column names: Index(['Date', 'Last_price_Nexi 2018-2023'], dtype='object')
Stripped column names: Index(['Date', 'Last_price_Nexi 2018-2023'], dtype='object')
Dates column: Date, Data column: Last_price_Nexi 2018-2023
Reading file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_Banca Monte dei Paschi di Siena 2018-2023.xlsx
Column names: Index(['Date', 'Last_price_Banca Monte dei Paschi di Siena 2018-2023'], dtype='object')
Stripped column names: Index(['Date', 'Last_price_Banca Monte dei Paschi di Siena 2018-2023'], dtype='object')
Dates column: Date, Data column: Last_price_Banca Monte dei Paschi di Siena 2018-2023
Reading file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_Intesa San Paolo 2018-2023.xlsx
Column names: Index(['Date', 'Last_price_Intesa San Paolo 2018-2023'], dtype='object')
Stripped column names: Index(['Date', 'Last_price_Intesa San Paolo 2018-2023'], dtype='object')
Dates column: Date, Data column: Last_price_Intesa San Paolo 2018-2023
Reading file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_Pirelli 2018-2023.xlsx
Column names: Index(['Date', 'Last_price_Pirelli 2018-2023'], dtype='object')
Stripped column names: Index(['Date', 'Last_price_Pirelli 2018-2023'], dtype='object')
Dates column: Date, Data column: Last_price_Pirelli 2018-2023
Reading file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_Inwit 2018-2023.xlsx
Column names: Index(['Date', 'Last_price_Inwit 2018-2023'], dtype='object')
Stripped column names: Index(['Date', 'Last_price_Inwit 2018-2023'], dtype='object')
Dates column: Date, Data column: Last_price_Inwit 2018-2023
Reading file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_Leonardo 2018-2023.xlsx
Column names: Index(['Date', 'Last_price_Leonardo 2018-2023'], dtype='object')
Stripped column names: Index(['Date', 'Last_price_Leonardo 2018-2023'], dtype='object')
Dates column: Date, Data column: Last_price_Leonardo 2018-2023
Reading file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_Generali Ass 2018-2023.xlsx
Column names: Index(['Date', 'Last_price_Generali Ass 2018-2023'], dtype='object')
Stripped column names: Index(['Date', 'Last_price_Generali Ass 2018-2023'], dtype='object')
Dates column: Date, Data column: Last_price_Generali Ass 2018-2023
Reading file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_Campari 2018-2023.xlsx
Column names: Index(['Date', 'Last_price_Campari 2018-2023'], dtype='object')
Stripped column names: Index(['Date', 'Last_price_Campari 2018-2023'], dtype='object')
Dates column: Date, Data column: Last_price_Campari 2018-2023
Reading file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_Tenaris 2018-2023.xlsx
Column names: Index(['Date', 'Last_price_Tenaris 2018-2023'], dtype='object')
Stripped column names: Index(['Date', 'Last_price_Tenaris 2018-2023'], dtype='object')
Dates column: Date, Data column: Last_price_Tenaris 2018-2023
Reading file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_Unicredit 2018-2023.xlsx
Column names: Index(['Date', 'Last_price_Unicredit 2018-2023'], dtype='object')
Stripped column names: Index(['Date', 'Last_price_Unicredit 2018-2023'], dtype='object')
Dates column: Date, Data column: Last_price_Unicredit 2018-2023
Reading file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_Interpump 2018-2023.xlsx
Column names: Index(['Date', 'Last_price_Interpump 2018-2023'], dtype='object')
Stripped column names: Index(['Date', 'Last_price_Interpump 2018-2023'], dtype='object')
Dates column: Date, Data column: Last_price_Interpump 2018-2023
Reading file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_Stmicroeletronics 2018-2023.xlsx
Column names: Index(['Date', 'Last_price_Stmicroeletronics 2018-2023'], dtype='object')
Stripped column names: Index(['Date', 'Last_price_Stmicroeletronics 2018-2023'], dtype='object')
Dates column: Date, Data column: Last_price_Stmicroeletronics 2018-2023
Reading file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_Ferrari 2018-2023.xlsx
Column names: Index(['Date', 'Last_price_Ferrari 2018-2023'], dtype='object')
Stripped column names: Index(['Date', 'Last_price_Ferrari 2018-2023'], dtype='object')
Dates column: Date, Data column: Last_price_Ferrari 2018-2023
Reading file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_Saipem 2018-2023.xlsx
Column names: Index(['Date', 'Last_price_Saipem 2018-2023'], dtype='object')
Stripped column names: Index(['Date', 'Last_price_Saipem 2018-2023'], dtype='object')
Dates column: Date, Data column: Last_price_Saipem 2018-2023
Reading file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_Iveco 2018-2023.xlsx
Column names: Index(['Date', 'Last_price_Iveco 2018-2023'], dtype='object')
Stripped column names: Index(['Date', 'Last_price_Iveco 2018-2023'], dtype='object')
Dates column: Date, Data column: Last_price_Iveco 2018-2023
Reading file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_Azimut 2018-2023.xlsx
Column names: Index(['Date', 'Last_price_Azimut 2018-2023'], dtype='object')
Stripped column names: Index(['Date', 'Last_price_Azimut 2018-2023'], dtype='object')
Dates column: Date, Data column: Last_price_Azimut 2018-2023
Reading file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_Stellantis 2018-2023.xlsx
Column names: Index(['Date', 'Last_price_Stellantis 2018-2023'], dtype='object')
Stripped column names: Index(['Date', 'Last_price_Stellantis 2018-2023'], dtype='object')
Dates column: Date, Data column: Last_price_Stellantis 2018-2023
Reading file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_Banca Mediolanum 2018-2023.xlsx
Column names: Index(['Date', 'Last_price_Banca Mediolanum 2018-2023'], dtype='object')
Stripped column names: Index(['Date', 'Last_price_Banca Mediolanum 2018-2023'], dtype='object')
Dates column: Date, Data column: Last_price_Banca Mediolanum 2018-2023
Reading file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_Hera 2018-2023.xlsx
Column names: Index(['Date', 'Last_price_Hera 2018-2023'], dtype='object')
Stripped column names: Index(['Date', 'Last_price_Hera 2018-2023'], dtype='object')
Dates column: Date, Data column: Last_price_Hera 2018-2023
Reading file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_Unipol 2018-2023.xlsx
Column names: Index(['Date', 'Last_price_Unipol 2018-2023'], dtype='object')
Stripped column names: Index(['Date', 'Last_price_Unipol 2018-2023'], dtype='object')
Dates column: Date, Data column: Last_price_Unipol 2018-2023
Reading file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_Snam 2018-2023.xlsx
Column names: Index(['Date', 'Last_price_Snam 2018-2023'], dtype='object')
Stripped column names: Index(['Date', 'Last_price_Snam 2018-2023'], dtype='object')
Dates column: Date, Data column: Last_price_Snam 2018-2023
Reading file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_Eni 2018-2023.xlsx
Column names: Index(['Date', 'Last_price_Eni 2018-2023'], dtype='object')
Stripped column names: Index(['Date', 'Last_price_Eni 2018-2023'], dtype='object')
Dates column: Date, Data column: Last_price_Eni 2018-2023
Reading file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_Banca pop Sondrio 2018-2023.xlsx
Column names: Index(['Date', 'Last_price_Banca pop Sondrio 2018-2023'], dtype='object')
Stripped column names: Index(['Date', 'Last_price_Banca pop Sondrio 2018-2023'], dtype='object')
Dates column: Date, Data column: Last_price_Banca pop Sondrio 2018-2023
Reading file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_Banco Bpm 2018-2023.xlsx
Column names: Index(['Date', 'Last_price_Banco Bpm 2018-2023'], dtype='object')
Stripped column names: Index(['Date', 'Last_price_Banco Bpm 2018-2023'], dtype='object')
Dates column: Date, Data column: Last_price_Banco Bpm 2018-2023
Reading file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_BPER banca 2018-2023.xlsx
Column names: Index(['Date', 'Last_price_BPER banca 2018-2023'], dtype='object')
Stripped column names: Index(['Date', 'Last_price_BPER banca 2018-2023'], dtype='object')
Dates column: Date, Data column: Last_price_BPER banca 2018-2023
Reading file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_Enel 2018-2023.xlsx
Column names: Index(['Date', 'Last_price_Enel 2018-2023'], dtype='object')
Stripped column names: Index(['Date', 'Last_price_Enel 2018-2023'], dtype='object')
Dates column: Date, Data column: Last_price_Enel 2018-2023
Reading file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_Fineco 2018-2023.xlsx
Column names: Index(['Date', 'Last_price_Fineco 2018-2023'], dtype='object')
Stripped column names: Index(['Date', 'Last_price_Fineco 2018-2023'], dtype='object')
Dates column: Date, Data column: Last_price_Fineco 2018-2023
Reading file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_Erg 2018-2023.xlsx
Column names: Index(['Date', 'Last_price_Erg 2018-2023'], dtype='object')
Stripped column names: Index(['Date', 'Last_price_Erg 2018-2023'], dtype='object')
Dates column: Date, Data column: Last_price_Erg 2018-2023
Reading file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_Brunello cucinelli 2018-2023.xlsx
Column names: Index(['Date', 'Last_price_Brunello cucinelli 2018-2023'], dtype='object')
Stripped column names: Index(['Date', 'Last_price_Brunello cucinelli 2018-2023'], dtype='object')
Dates column: Date, Data column: Last_price_Brunello cucinelli 2018-2023
Reading file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_Terna 2018-2023.xlsx
Column names: Index(['Date', 'Last_price_Terna 2018-2023'], dtype='object')
Stripped column names: Index(['Date', 'Last_price_Terna 2018-2023'], dtype='object')
Dates column: Date, Data column: Last_price_Terna 2018-2023
Reading file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_Italgas 2018-2023.xlsx
Column names: Index(['Date', 'Last_price_Italgas 2018-2023'], dtype='object')
Stripped column names: Index(['Date', 'Last_price_Italgas 2018-2023'], dtype='object')
Dates column: Date, Data column: Last_price_Italgas 2018-2023
Reading file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_Prysmian 2018-2023.xlsx
Column names: Index(['Date', 'Last_price_Prysmian 2018-2023'], dtype='object')
Stripped column names: Index(['Date', 'Last_price_Prysmian 2018-2023'], dtype='object')
Dates column: Date, Data column: Last_price_Prysmian 2018-2023
Reading file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_A2A 2018-2023.xlsx
Column names: Index(['Date', 'Last_price_A2A 2018-2023'], dtype='object')
Stripped column names: Index(['Date', 'Last_price_A2A 2018-2023'], dtype='object')
Dates column: Date, Data column: Last_price_A2A 2018-2023
Reading file: /Users/gloriabagnato/Desktop/TESI/Data-Finance/Renamed_single_stocks/renamed_Amplifon 2018-2023.xlsx
Column names: Index(['Date', 'Last_price_Amplifon 2018-2023'], dtype='object')
Stripped column names: Index(['Date', 'Last_price_Amplifon 2018-2023'], dtype='object')
Dates column: Date, Data column: Last_price_Amplifon 2018-2023
Merge complete.

In [4]:
merged_df

,Date,Last_price_Recordati 2018-2023_x,Last_price_Recordati 2018-2023_y,renamed_Diasorin 2018-2023,renamed_Mediobanca 2018-2023,renamed_Poste Italiane 2018-2023,renamed_Moncler 2018-2023,renamed_Telecom 2018-2023,renamed_Nexi 2018-2023,renamed_Banca Monte dei Paschi di Siena 2018-2023,...,renamed_BPER banca 2018-2023,renamed_Enel 2018-2023,renamed_Fineco 2018-2023,renamed_Erg 2018-2023,renamed_Brunello cucinelli 2018-2023,renamed_Terna 2018-2023,renamed_Italgas 2018-2023,renamed_Prysmian 2018-2023,renamed_A2A 2018-2023,renamed_Amplifon 2018-2023
0,2023-12-29,48.83,48.83,93.24,11.205,10.275,55.70,0.2942,7.406,3.046,...,3.026,6.730,13.585,28.86,88.6,7.554,5.180,41.17,1.8590,31.34
1,2023-12-22,48.22,48.22,93.52,11.245,10.265,56.00,0.3001,7.392,3.071,...,3.045,6.719,13.440,28.60,87.7,7.606,5.190,40.91,1.8590,31.53
2,2023-12-15,47.88,47.88,91.90,11.125,10.225,55.92,0.2688,7.484,2.986,...,3.061,6.670,13.765,28.08,85.5,7.652,5.200,39.49,1.9395,31.68
3,2023-12-08,46.70,46.70,90.24,11.130,10.035,53.66,0.2658,7.424,3.271,...,3.350,6.566,12.930,27.00,79.2,7.672,5.235,38.52,1.9615,28.17
4,2023-12-01,44.19,44.19,86.58,10.805,9.920,50.68,0.2666,7.268,3.140,...,3.464,6.507,12.370,26.52,75.4,7.432,5.130,36.50,1.9665,28.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323,2017-10-20,NaN,NaN,NaN,9.125,NaN,24.78,NaN,NaN,NaN,...,NaN,NaN,7.320,14.08,NaN,NaN,4.830,NaN,1.4500,NaN
324,2017-10-13,NaN,NaN,NaN,9.120,NaN,24.60,NaN,NaN,NaN,...,NaN,NaN,7.355,14.10,NaN,NaN,4.776,NaN,1.4420,NaN
325,2017-10-06,NaN,NaN,NaN,9.150,NaN,23.71,NaN,NaN,NaN,...,NaN,NaN,7.210,13.46,NaN,NaN,4.566,NaN,1.4130,NaN
326,2017-09-29,NaN,NaN,NaN,9.080,NaN,24.42,NaN,NaN,NaN,...,NaN,NaN,7.500,13.51,NaN,NaN,4.750,NaN,1.4550,NaN
327,2017-09-22,NaN,NaN,NaN,8.970,NaN,24.53,NaN,NaN,NaN,...,NaN,NaN,7.485,13.60,NaN,NaN,4.722,NaN,1.4580,NaN

In [5]:

# 1. Rename the column "Last_price_Recordati 2018-2023_x" to "Last_price_Recordati 2018-2023"
merged_df.rename(columns={'Last_price_Recordati 2018-2023_x': 'Last_price_Recordati 2018-2023'}, inplace=True)

# 2. Drop the column "Last_price_Recordati 2018-2023_y"
merged_df.drop(columns=['Last_price_Recordati 2018-2023_y'], inplace=True)

# 3. Rename all other columns starting with "renamed_" to "Last_price_" and remove "renamed_"
merged_df.rename(columns=lambda x: x.replace('renamed_', 'Last_price_'), inplace=True)

# 4. Sort the columns alphabetically
merged_df = merged_df.reindex(sorted(merged_df.columns), axis=1)

# Print the DataFrame to verify changes
merged_df

,Date,Last_price_A2A 2018-2023,Last_price_Amplifon 2018-2023,Last_price_Azimut 2018-2023,Last_price_BPER banca 2018-2023,Last_price_Banca Mediolanum 2018-2023,Last_price_Banca Monte dei Paschi di Siena 2018-2023,Last_price_Banca pop Sondrio 2018-2023,Last_price_Banco Bpm 2018-2023,Last_price_Brunello cucinelli 2018-2023,...,Last_price_Recordati 2018-2023,Last_price_Saipem 2018-2023,Last_price_Snam 2018-2023,Last_price_Stellantis 2018-2023,Last_price_Stmicroeletronics 2018-2023,Last_price_Telecom 2018-2023,Last_price_Tenaris 2018-2023,Last_price_Terna 2018-2023,Last_price_Unicredit 2018-2023,Last_price_Unipol 2018-2023
0,2023-12-29,1.8590,31.34,23.64,3.026,8.534,3.046,5.860,23.64,88.6,...,48.83,1.4700,4.655,21.150,45.210,0.2942,15.745,7.554,24.565,5.162
1,2023-12-22,1.8590,31.53,23.60,3.045,8.460,3.071,5.645,23.60,87.7,...,48.22,1.4465,4.682,21.225,45.530,0.3001,16.045,7.606,24.420,5.124
2,2023-12-15,1.9395,31.68,23.64,3.061,8.618,2.986,5.435,23.64,85.5,...,47.88,1.4130,4.669,21.545,46.840,0.2688,15.640,7.652,23.685,5.206
3,2023-12-08,1.9615,28.17,22.50,3.350,8.280,3.271,5.690,22.50,79.2,...,46.70,1.4010,4.696,21.025,44.395,0.2658,15.745,7.672,25.300,5.254
4,2023-12-01,1.9665,28.15,22.29,3.464,8.220,3.140,5.845,22.29,75.4,...,44.19,1.5070,4.654,20.105,43.740,0.2666,16.085,7.432,25.180,5.292
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323,2017-10-20,1.4500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
324,2017-10-13,1.4420,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
325,2017-10-06,1.4130,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
326,2017-09-29,1.4550,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
327,2017-09-22,1.4580,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# Convert the 'Date' column to datetime format if it's not already
merged_df['Date'] = pd.to_datetime(merged_df['Date'])

# Define the start and end dates of the interval
start_date = pd.Timestamp('2018-01-01')
end_date = pd.Timestamp('2023-12-31')

# Filter the DataFrame to keep only the rows within the interval
merged_df_filtered = merged_df[(merged_df['Date'] >= start_date) & (merged_df['Date'] <= end_date)]

# Check if any rows were dropped
rows_dropped = len(merged_df) - len(merged_df_filtered)
if rows_dropped > 0:
    print(f"Dropped {rows_dropped} rows with dates outside the interval.")
else:
    print("All rows are within the interval.")

# Now merged_df_filtered contains only the rows with dates in the interval

Dropped 15 rows with dates outside the interval.

In [7]:
merged_df_filtered

,Date,Last_price_A2A 2018-2023,Last_price_Amplifon 2018-2023,Last_price_Azimut 2018-2023,Last_price_BPER banca 2018-2023,Last_price_Banca Mediolanum 2018-2023,Last_price_Banca Monte dei Paschi di Siena 2018-2023,Last_price_Banca pop Sondrio 2018-2023,Last_price_Banco Bpm 2018-2023,Last_price_Brunello cucinelli 2018-2023,...,Last_price_Recordati 2018-2023,Last_price_Saipem 2018-2023,Last_price_Snam 2018-2023,Last_price_Stellantis 2018-2023,Last_price_Stmicroeletronics 2018-2023,Last_price_Telecom 2018-2023,Last_price_Tenaris 2018-2023,Last_price_Terna 2018-2023,Last_price_Unicredit 2018-2023,Last_price_Unipol 2018-2023
0,2023-12-29,1.8590,31.34,23.6400,3.0260,8.534,3.0460,5.860,23.6400,88.6,...,48.83,1.4700,4.655,21.1500,45.210,0.2942,15.745,7.554,24.565,5.162
1,2023-12-22,1.8590,31.53,23.6000,3.0450,8.460,3.0710,5.645,23.6000,87.7,...,48.22,1.4465,4.682,21.2250,45.530,0.3001,16.045,7.606,24.420,5.124
2,2023-12-15,1.9395,31.68,23.6400,3.0610,8.618,2.9860,5.435,23.6400,85.5,...,47.88,1.4130,4.669,21.5450,46.840,0.2688,15.640,7.652,23.685,5.206
3,2023-12-08,1.9615,28.17,22.5000,3.3500,8.280,3.2710,5.690,22.5000,79.2,...,46.70,1.4010,4.696,21.0250,44.395,0.2658,15.745,7.672,25.300,5.254
4,2023-12-01,1.9665,28.15,22.2900,3.4640,8.220,3.1400,5.845,22.2900,75.4,...,44.19,1.5070,4.654,20.1050,43.740,0.2666,16.085,7.432,25.180,5.292
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
308,2018-02-02,1.5200,13.78,17.0280,3.1549,7.795,75.9717,3.198,17.0280,26.1,...,35.28,9.3028,3.830,17.8253,18.490,0.7094,13.750,4.731,17.570,4.343
309,2018-01-26,1.5720,14.45,17.4608,3.2558,7.920,81.9728,3.340,17.4608,27.4,...,38.40,10.1964,4.008,18.7814,19.070,0.7205,14.540,4.906,17.950,4.488
310,2018-01-19,1.5840,14.26,17.5725,3.0189,7.770,81.0559,3.244,17.5725,27.4,...,38.56,10.0809,4.074,18.5443,20.440,0.7210,14.240,4.918,17.400,4.350
311,2018-01-12,1.5220,13.94,15.5342,3.0866,7.280,83.7231,3.330,15.5342,27.3,...,38.60,10.1763,4.064,18.1459,19.980,0.7435,14.200,4.878,17.470,4.300
312,2018-01-05,1.5930,13.33,15.0409,2.8781,7.190,81.0559,3.200,15.0409,28.3,...,38.36,9.8148,4.136,16.9981,19.430,0.7385,13.610,4.994,16.250,4.086

In [8]:
# Check for NaN values in the entire DataFrame
nan_values = merged_df_filtered.isna().any()

# Print columns with NaN values
nan_columns = nan_values[nan_values].index.tolist()
if nan_columns:
    print("Columns with NaN values:")
    print(nan_columns)
else:
    print("No NaN values found in the DataFrame.")

Columns with NaN values:
['Last_price_Iveco 2018-2023', 'Last_price_Nexi 2018-2023']

In [9]:
merged_df_filtered['Last_price_Iveco 2018-2023']

0      8.146
1      7.970
2      7.918
3      7.936
4      7.616
       ...
308      NaN
309      NaN
310      NaN
311      NaN
312      NaN
Name: Last_price_Iveco 2018-2023, Length: 313, dtype: float64

In [10]:
import numpy as np

# Reverse the DataFrame
reversed_df = merged_df_filtered.iloc[::-1]

# Specify columns with NaN values
columns_with_nan = ['Last_price_Iveco 2018-2023', 'Last_price_Nexi 2018-2023']

for column in columns_with_nan:
    # Find the index of the first NaN value
    first_nan_index = reversed_df[column].first_valid_index()
    
    # Calculate the percentage of NaN values
    nan_count = merged_df_filtered[column].isna().sum()
    total_count = len(merged_df_filtered)
    nan_percentage = (nan_count / total_count) * 100
    
    # Print the results
    print(f"Column: {column}")
    if first_nan_index is not None:
        print(f"First NaN value found at index: {first_nan_index}")
    else:
        print("No NaN values found in this column.")
    print(f"Percentage of NaN values: {nan_percentage:.2f}%")
    print()

Column: Last_price_Iveco 2018-2023
First NaN value found at index: 103
Percentage of NaN values: 66.77%

Column: Last_price_Nexi 2018-2023
First NaN value found at index: 245
Percentage of NaN values: 21.41%

In [11]:
date_at_index_103 = merged_df_filtered.loc[103, 'Date']
print(f"Values for Iveco start at {date_at_index_103}")

Values for Iveco start at 2022-01-07 00:00:00

In [12]:
date_at_index_245 = merged_df_filtered.loc[245, 'Date']
print(f"Values for Nexi start at {date_at_index_245}")

Values for Nexi start at 2019-04-19 00:00:00

Given the big amount of NaN values for these two columns, and that it is not much data, I have decided to drop them.

In [13]:
merged_df_filtered.drop(['Last_price_Iveco 2018-2023', 'Last_price_Nexi 2018-2023'],inplace=True, axis=1)

/var/folders/gd/ffzqsx5d0dbb4cjdtmxnpsmw0000gn/T/ipykernel_8411/4021820895.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df_filtered.drop(['Last_price_Iveco 2018-2023', 'Last_price_Nexi 2018-2023'],inplace=True, axis=1)

Nexi joined the FTSE MIB Index, replacing Banca Generali, on June 24, 2019.

Source: https://www.ilsole24ore.com/art/nexi-arriva-ftse-mib-e-fa-retrocedere-banca-generali-AC0L7CN

Iveco joined the FTSE MIB on March 1, 2022, following the spin-off of CNH Industrial's On-Highway activities.

Source: https://www.ilsole24ore.com/art/al-debutto-titolo-iveco-group-piazza-affari-AEsjUt5
https://www.soldionline.it/notizie/azioni-italia/azioni-iveco-ftsemib

In [14]:
merged_df_filtered

,Date,Last_price_A2A 2018-2023,Last_price_Amplifon 2018-2023,Last_price_Azimut 2018-2023,Last_price_BPER banca 2018-2023,Last_price_Banca Mediolanum 2018-2023,Last_price_Banca Monte dei Paschi di Siena 2018-2023,Last_price_Banca pop Sondrio 2018-2023,Last_price_Banco Bpm 2018-2023,Last_price_Brunello cucinelli 2018-2023,...,Last_price_Recordati 2018-2023,Last_price_Saipem 2018-2023,Last_price_Snam 2018-2023,Last_price_Stellantis 2018-2023,Last_price_Stmicroeletronics 2018-2023,Last_price_Telecom 2018-2023,Last_price_Tenaris 2018-2023,Last_price_Terna 2018-2023,Last_price_Unicredit 2018-2023,Last_price_Unipol 2018-2023
0,2023-12-29,1.8590,31.34,23.6400,3.0260,8.534,3.0460,5.860,23.6400,88.6,...,48.83,1.4700,4.655,21.1500,45.210,0.2942,15.745,7.554,24.565,5.162
1,2023-12-22,1.8590,31.53,23.6000,3.0450,8.460,3.0710,5.645,23.6000,87.7,...,48.22,1.4465,4.682,21.2250,45.530,0.3001,16.045,7.606,24.420,5.124
2,2023-12-15,1.9395,31.68,23.6400,3.0610,8.618,2.9860,5.435,23.6400,85.5,...,47.88,1.4130,4.669,21.5450,46.840,0.2688,15.640,7.652,23.685,5.206
3,2023-12-08,1.9615,28.17,22.5000,3.3500,8.280,3.2710,5.690,22.5000,79.2,...,46.70,1.4010,4.696,21.0250,44.395,0.2658,15.745,7.672,25.300,5.254
4,2023-12-01,1.9665,28.15,22.2900,3.4640,8.220,3.1400,5.845,22.2900,75.4,...,44.19,1.5070,4.654,20.1050,43.740,0.2666,16.085,7.432,25.180,5.292
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
308,2018-02-02,1.5200,13.78,17.0280,3.1549,7.795,75.9717,3.198,17.0280,26.1,...,35.28,9.3028,3.830,17.8253,18.490,0.7094,13.750,4.731,17.570,4.343
309,2018-01-26,1.5720,14.45,17.4608,3.2558,7.920,81.9728,3.340,17.4608,27.4,...,38.40,10.1964,4.008,18.7814,19.070,0.7205,14.540,4.906,17.950,4.488
310,2018-01-19,1.5840,14.26,17.5725,3.0189,7.770,81.0559,3.244,17.5725,27.4,...,38.56,10.0809,4.074,18.5443,20.440,0.7210,14.240,4.918,17.400,4.350
311,2018-01-12,1.5220,13.94,15.5342,3.0866,7.280,83.7231,3.330,15.5342,27.3,...,38.60,10.1763,4.064,18.1459,19.980,0.7435,14.200,4.878,17.470,4.300
312,2018-01-05,1.5930,13.33,15.0409,2.8781,7.190,81.0559,3.200,15.0409,28.3,...,38.36,9.8148,4.136,16.9981,19.430,0.7385,13.610,4.994,16.250,4.086

In [15]:
columns_to_check = ['Last_price_Iveco 2018-2023', 'Last_price_Nexi 2018-2023']

for column in columns_to_check:
    if column in merged_df_filtered.columns:
        print(f"{column} is present in the dataset.")
    else:
        print(f"{column} is not present in the dataset.")

Last_price_Iveco 2018-2023 is not present in the dataset.
Last_price_Nexi 2018-2023 is not present in the dataset.

In [16]:
merged_df_filtered.to_csv('single_stock_filtered.csv', index=False)